body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/bemvindo.png);
    background-size: cover;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.conteudo h1 {
    color: white;
    text-shadow:
        -1px -1px 0px #000000,
        -1px 1px 0px #000000,
        1px -1px 0px #000000,
        1px 0px 0px #000000;
}

.conteudo .container {
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 65vh;
    gap: 25px;
}

.campos input {
    width: 90%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding: 2%;
}

.idolo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65vh;
}

.idolo #img_idolo {
    background-size: cover;
    width: 224px;
    height: 224px;
    border: 8px solid #000000;
    border-radius: 5px;
}

.cassio {
    background-image: url(../assets/img/CASSIO.PNG);
}

.rivelino {
    background-image: url(../assets/img/roberto-rivellino.png);
}

.socrates {
    background-image: url(../assets/img/socrates.png);
}

.zanotti {
    background-image: url(../assets/img/GabiZanotti.png);
}

.tamires {
    background-image: url(../assets/img/tamires.png)
}

.leticia {
    background-image: url(../assets/img/leticiaIzadori.png);
}

.fagner {
    background-image: url(../assets/img/fagner.png);
}

.emerson {
    background-image: url(../assets/img/emersonSheik.png);
}

.zeMaria {
    background-image: url(../assets/img/zeMaria.png);
}

.grazi {
    background-image: url(../assets/img/grazi.png);
}

.portilho {
    background-image: url(../assets/img/gabiPortilho.png);
}

.tarciane {
    background-image: url(../assets/img/tarciane.png);
}

.idolo #select_idolo {
    width: 50%;
    height: 11%;
    border: 5px solid #000000;
    border-radius: 50px;
    padding-left: 2%;
    font-weight: 900;
}

.conteudo button {
    cursor: pointer;
    width: 30%;
    height: 55px;
    font-size: x-large;
    font-weight: 900;
    background: #D72327;
    border: 5px solid #000000;
    border-radius: 50px;
}