html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    height: 9vh;
}

.header {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
}

.logo {
    display: flex;
    align-self: center;
    width: 80px;
    height: 80px;
}

.header .container {
    justify-content: space-between;
    padding: 1%;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    font-size: large;
}

.navegacao li,
.navegacao a {
    color: #ffffff;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #D72327;
}

.navegacao li:hover,
.navegacao a:hover {
    transition: ease 0.2s;
    color: #D72327;
    font-size: larger;
}