.timaoClicker {
    width: 85vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/DIVIDIDA.PNG);
    background-size: cover;
}

/* Tela das Regras */

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3vh;
}

.titulo {
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0.8;
    display: inline;
    background-color: #000;
    border: #fff solid;
    border-radius: 12px;
    padding: 5px;
}

.explicacao {
    height: 30%;
    width: 80%;
    border: #000 solid;
    border-radius: 12px;
    padding: 1%;
    background: rgba(255, 255, 255);
}

.titulos {
    font-size: large;
    color: #000;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #000;
    text-align: center;
    margin-top: 1%;
}

ul{
    width: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    padding: 0;
}

li {
    text-align: start;
    color: black;
    width: 70%;
    font-weight: bold;
}

p {
    font-size: large;
    text-align: center;
    margin: 1%;
    color: black;
}

.botao {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: #000 solid;
    color: #fff;
    font-size: larger;
    -webkit-text-stroke: 1px #D72327;
    font-size: large;
    background-color: #fff;
    background-image: url(../assets/img/bolaCorinthians.png);
    background-size: cover;
    cursor: pointer;
}

.botao:hover {
    width: 85px;
    height: 85px;
    transition: 0.5s;
    font-size: larger;
}

/* Tela do Jogo */

.jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3vh;
}

/* Tela de encerramento */

.jogarNovamente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3vh;
}

.concluido {
    color: #fff;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    text-shadow: 0.8;
    display: inline;
    background-color: #000;
    border: #fff solid;
    border-radius: 12px;
    padding: 5px;
}

.gif {
    border: #fff solid;
}

.desejaJogarNovamente, .metricasGame {
    color: #fff;
    font-size: medium;
    text-decoration: none;
    text-align: center;
    text-shadow: 0.8;
    display: inline;
    background-color: #000;
    border: #fff solid;
    border-radius: 12px;
    padding: 5px;
}

.botoesJogarNovamente {
    display: flex;
    gap: 5vh;
}

.desaparecer {
    display: none;
}