.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

#div_mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}