body {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    height: 100vh;
    color: #ffffff;
    background-color: rgba(0,0,0,0.9);
    border-right: #D72327 solid;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 140%;
}

.perfil img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.navegacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
    font-size: 120%;
}

.navegacao div,
.navegacao a {
    display: flex;
    gap: 10px;
    color: #ffffff;
    align-items: center;
    text-decoration: none;
}

.navegacao div:hover,
.navegacao a:hover {
    background-color: #D72327;
}

.navegacao #nav_home, #nav_quiz, #nav_placar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #D72327;
    border: #000000 solid 1px;
    border-radius: 20px;
    cursor: default;
}

.menu .saida a {
    display: flex;
    color: #ffffff;
    gap: 7px;
    text-decoration: none;
}

/* foto de perfil */

.cassio {
    background-image: url(../assets/img/CASSIO.PNG);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.rivelino {
    background-image: url(../assets/img/roberto-rivellino.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.socrates {
    background-image: url(../assets/img/socrates.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.zanotti {
    background-image: url(../assets/img/GabiZanotti.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.tamires {
    background-image: url(../assets/img/tamires.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
    
}

.leticia {
    background-image: url(../assets/img/leticiaIzadori.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.fagner {
    background-image: url(../assets/img/fagner.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.emerson {
    background-image: url(../assets/img/emersonSheik.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.zeMaria {
    background-image: url(../assets/img/zeMaria.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.grazi {
    background-image: url(../assets/img/grazi.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.portilho {
    background-image: url(../assets/img/gabiPortilho.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}

.tarciane {
    background-image: url(../assets/img/tarciane.png);
    display: flex;
    width: 80px;
    height: 80px;
    border: #D72327 solid;
    border-radius: 100%;
    background-size: cover;
}