.carrossel{
    margin-top: 15vh;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.carrosselConteudo{
    width: 400%;
    height: 40%;
    display: flex;
}

.carrosselConteudo input, .img-desktop{
    display: none;
}

.carrosselBox{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.carrosselBox img{
    width: 100%;
    height: auto;
}

.navManual, .navAuto{
    position: absolute;
    width: 100%;
    margin-top: 31%;
    display: flex;
    justify-content: center;
}

.navManual .manualBtn, .navAuto div{
    border: 1px solid #D72327;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.navManual .manualBtn:not(:last-child), .navAuto div:not(:last-child){
    margin-right: 10px;
}

.navManual .manualBtn:hover{
    background-color: #D72327;
}

#radio1:checked ~ .navAuto .autoBtn1, #radio2:checked ~ .navAuto .autoBtn2, #radio3:checked ~ .navAuto .autoBtn3{
    background-color: #D72327;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
