body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/603Gigantes.png);
    background-size: cover;
}

.backgroundImgSobre{
    width: auto;
    height: 100%;
    background-image: url(../assets/img/ENTRADA.PNG);
    background-size: cover;
    padding: 6%;
}

.conteudo {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    font-size: 20px;
    text-align: start;
    margin: 2%;
}

.titulo {
    margin-top: 5vh;
}

.titulo h1{
    color: #D72327;
    display: flex;
    align-items: center;
    justify-content: center;
}
